@import './base.css';

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#app>div {
  max-width: 1280px;
  margin: auto;
}

a {
  color: var(--prim-color);
  line-height: 0;
  text-decoration: none;
}